@model Lab.Gym.Web.Pages.Shared.Components.RightNavbarUserArea.RightNavbarUserAreaViewModel
@if(Model.IsAuthenticated)
{
    <nav class="nav-menu">
        <ul>
            <li>
                <a href="#"><img class="user-image img-circle elevation-2" src="~/img/avatar.svg" alt="User" />@Model.Username</a>
                <ul class="dropdown">
                    <li><a asp-area="" asp-page="/Account/Profile/Index">Profile</a></li>
                    <li><a asp-area="" asp-page="/Account/ChangePassword/Index">Change Password</a></li>
                    <li><a asp-area="" asp-page="/Account/Logout/Index">Logout</a></li>
                </ul>
            </li>
        </ul>
    </nav>
}
else
{
    <a asp-area="" asp-page="/Account/Login/Index">
        <i class="fas fa-user-edit"></i> Login
    </a>
}

