@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@section Styles {
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="~/css/calendar.css" />
 }

<div id="calendar-wrapper">
    <div id='calendar'></div>
</div>

<div class="modal fade" id="eventModal" role="dialog" aria-labelledby="eventModalLabel" aria-hidden="true"
     tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="eventModalLabel">Event</h4>
                <button type="button" class="close btnCloseEventModalTop" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <form id="eventForm">
                    <div class="form-group row">
                        <label for="" class="col-sm-3 col-form-label">Title</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="EventTitle">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-sm-3 col-form-label">Start Time</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="StartTime">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-sm-3 col-form-label">End Time</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="EndTime">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-sm-3 col-form-label">Description</label>
                        <div class="col-sm-9">
                            <textarea class="form-control" id="Description" rows="5"></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-3 offset-sm-9">
                            <label><input type="checkbox" id="AllDay" /> All Day</label>
                        </div>
                    </div>
                    <input type="hidden" id="isNewEvent" />
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger pull-left" id="deleteEvent">Delete</button>
                <div>
                    <button type="button" class="btn btn-default btnCloseEventModal" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="eventModalSave">Save Changes</button>
                </div>
            </div>
        </div>
    </div>
</div>

<br />
<input type="button" id="btnPost" value="Post Values">
<br />
@Html.AntiForgeryToken()

@section Scripts {
    <script type="text/javascript" language="JavaScript">
        $(document).ready(function () {
            $.ajax({
                type: "GET",
                url: "/Schedule/Index?handler=List",
                contentType: "application/json",
                dataType: "json",
                success: function (response) {
                    console.log(response);
                },
                failure: function (response) {
                    alert(response);
                }
            });
            $('#btnPost').on('click', function () {
                var item1 = $('#txtItem1').val();
                var item2 = $('#txtItem2').val();
                var item3 = $('#txtItem3').val();
                $.ajax({
                    type: "POST",
                    url: "/Schedule/Index?handler=Send",
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("XSRF-TOKEN",
                            $('input:hidden[name="__RequestVerificationToken"]').val());
                    },
                    data: JSON.stringify({
                        Item1: item1,
                        Item2: item2,
                        Item3: item3
                    }),

                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        console.log(response);
                    },
                    failure: function (response) {
                        alert(response);
                    }
                });
            })

        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.30.1/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="~/lib/fullcalendar-6.1.10/dist/index.global.min.js"></script>
    <script src="~/js/calendar.js" asp-append-version="true"></script>
}